<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<script th:inline="javascript">

function purchase(name){
    location = "/purchase?name=" + name;
}

function shopping_basket(name){
    var form = document.createElement('form');
    form.setAttribute('method', 'post');
    form.setAttribute('action', '/basket');
    document.charset = "utf-8";

    var hiddenField = document.createElement('input');
    hiddenField.setAttribute('type', 'hidden');
    hiddenField.setAttribute('name', 'name');
    hiddenField.setAttribute('value', name);
    form.appendChild(hiddenField);

    // hiddenField = document.createElement("input");
    // hiddenField.setAttribute("type", "hidden");
    // hiddenField.setAttribute("name", "number");
    // hiddenField.setAttribute("value", document.getElementById('number'));
    // form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
}

</script>
<body>
<header th:replace="fragments/header.html::headerFragment"></header>

<div class="container text-center">
    <div class="row">
        <div class="col" th:each="item : ${li}">
            <div class="card" style="width: 25rem;">
                <img th:src="@{${item.getPro_image()}}" class="card-img-top" alt="..." src="">
                <div class="card-body">
                    <h4 class="card-title" th:text="${item.getPro_name()}"></h4>
                    <h5 class="card-text" th:text="${item.getPro_explain()}"></h5>
                    <h5 class="card-text" th:text="${item.getPro_option()}"></h5>
                    <h5 class="card-text" th:text="${item.getPro_price()}"></h5>
                    <h5 class="card-text" th:text="${item.getPro_view()}"></h5>
                </div>
                <input type="number" name="number" min="1" max="9" default="1">
                <button type="button" class="btn btn-dark" th:id="${item.getPro_name()}" th:onclick="purchase(this.getAttribute('id'))">구매</button>
                <button type="button" class="btn btn-light" th:id="${item.getPro_name()}" th:onclick="shopping_basket(this.getAttribute('id'))">장바구니</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>