<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display:table-cell; vertical-align: middle;">
    <h2>카카오페이 결제가 정상적으로 완료되었습니다.<br/></h2>
    <div class="input-box" >
        <h3>
            결제일시 = [[${info.approved_at}]]
            상품명 = [[${info.item_name}]]
            사용자 = [[${info.partner_user_id}]]
            결제금액 = [[${info.amount.total}]]
        </h3>
    </div>
</div>
</body>
</html>