<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group phoneCertifyDiv">
  <label class="inputTitle">휴대폰 번호</label><br>
  <div class="phoneNum-formgroup">
    <input th:if="${phone != null}" type="text" name="phone" class="phoneNum" readonly th:value="${phone}">
    <input th:unless="${phone != null}" type="text" name="phone" class="phoneNum" >
    <input type="button" id="phoneCheck" class="btn memberPhoneBtn active" value="인증번호 전송">
  </div>
  <div class="phoneNum-formgroup" id="phoneCertifyDiv">
    <input type="text" name="phoneCertify" class="phoneNum">
    <input type="button" id="certifyCheck" class="btn phoneBtn" value="인증하기">
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/certified.js"></script>
</body>
</html>
