<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<div class="container">
    <span th:if="${id==null}">
        <form action="/user/login" method="post">
            <div class="form-group">
                <label for="id">아이디</label>
                <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
            </div>
            <div class="form-group">
                <label for="pw">패스워드</label>
                <input type="text" id="pw" name="pw" placeholder="패스워드를 입력하세요">
            </div>
            <button type="submit">로그인</button>
        </form>

        <a href="https://kauth.kakao.com/oauth/authorize?client_id=8a03e9ddcf15f3e1a7a1da99b7963cf4&redirect_uri=http://localhost:8080/user/kakao&response_type=code">
            <img src="/img/kakao_login_medium_wide.png" id="kakaoimg" alt="카카오 로그인">
        </a>
        <br/>
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
            <img src="/img/btn_google_signin_light_normal_web@2x.png" id="googleimg" alt="구글 로그인">
        </a>
        <br/>
        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">
            <img src="/img/btnG.png" id="naverimg" alt="네이버 로그인">
        </a>
    </span>
    <span th:if="${id!=null}">
        <form name="logout" action="/logout">
            <input type="button" value="로그아웃" onclick="location.href='/logout'">
        </form>
    </span>
</div> <!-- /container -->
</body>
</html>